* {
    margin: 0;
    padding: 0;
}

/*** Header Style ***/

.header {
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 15px 0 rgb(212, 211, 211);
}

.header h1 {
    color: rgb(126, 124, 127);
    text-align: center;
    width: 100%;
}

/*** Choose Image Style ***/

.container {
    margin: 30px;
}

.files-upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    border: 4px solid rgb(189, 185, 185);
    border-radius: 20px;
}

.files-upload-area h1 {
    font-style: italic;
    color: rgb(126, 124, 127);
    font-size: x-large;
    margin-top: 40px;
    margin-bottom: 10px;
}

.label {
    height: 50px;
    width: 240px;
    margin-top: 20px;
    background-color: rgb(8, 129, 120);
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.files-input span {
    position: relative;
    top: -5px;
    font-size: 19px;
    font-family: monospace;
}

#get-file-input {
    opacity: 0;
}

/*** Image croping modal style ***/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.699);
}

.modal-content {
    background-color: #000000b6;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

.croping-img {
    width: 90%;
    height: 80%;
    margin: auto;
    padding-top: 80px;
}

.close {
    color: rgb(255, 255, 255);
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(95, 66, 66);
    text-decoration: none;
    cursor: pointer;
}

.crop-btn {
    color: white;
    background-color: transparent;
    font-style: italic;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    padding: 10px;
    float: right;
    padding-right: 50px;
}